body{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("satellite.jpg");
    background-size: cover;
}

.login-div{
    color: white;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    align-items: center;
    height: 250px;
    padding: 10px;
    border-radius: 20%;
}

.login-div form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-div form input{
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    margin: 1px;
    padding: 10px;
}